*{
    margin: 0px;
    padding: 0px;;
}
header{
    height: inherit;
    width: 100vw;
    text-align: center;
}
header h1{
    text-decoration: underline;
    font-weight: bolder;
    color: rgb(255, 149, 0);
}

/*main*/

main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90vh;
}

/*main nav*/

nav{
    
    height: 100%;
    width: 25%;
    border-right: 2px solid black;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 90%;
    width: 100%;
    padding-top: 50px;
}
nav ul li{
    height: 30px;
    width: 100%;
    list-style: none;
    text-align: center;
    padding: 1px;
    margin: 10px;
    transition: all 0.5s ease-in-out;
    
}
nav ul li button{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
    &:hover{
        background: #a2a2a2;
    }
}
nav ul hr{
    width: 85%;
}

/*main's articals*/

main article{
    display: none;
    width: 75%;
    height: 100%;
    &:target{
        display: block;
    }
}

/*Create join "+" button*/
.create_join_button{
    position: fixed;
    left: 1100px;
    top: 480px;
    height: 45px;
    width: 45px;
    background: #ffffff;
    border-radius: 45px;
    border: none;
    box-shadow: 2px 2px 10px black;
    font-size: 31px;
    color: orange;
    &:hover{
        background: #e4e4e4d6;
    }
}
.rotated_create_join_button{
    transform: rotate(45deg);
    position: fixed;
    left: 1100px;
    top: 480px;
    height: 45px;
    width: 45px;
    background: #ffffff;
    border-radius: 45px;
    border: none;
    box-shadow: 2px 2px 10px black;
    font-size: 31px;
    color: orange;
    cursor: pointer;
    &:hover{
        background: #e4e4e4d6;
    }
}

/*create and join button in home after click "+" button*/

.create_join_display{
    position: fixed;
	background-color: rgb(255, 255, 255);
	border: none;
    display: none;
}
.show_create_join_buttons{
    display: contents;
}
/*footer*/

footer{
    width: 100vw;
    height: 7%;
    border-top: 0.3px solid rgba(30, 30, 30, 0.34);
    font-weight: bold;
    text-align: end;
}
