*{
    padding: 0;
    margin: 0;
}
header{
    color: orange;
    text-align: center;
}
body{
    background: #ffffff;
}

    /*nav_main*/

.main_nav{
    display: flex;
    flex-direction: row;
    height:80vh;
    width: 100vw;
}

    /*nav*/

nav{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: #c5c5c55e;
    height: 100%;
    width: 25%;
    border: none;
    border-radius: 50px;
    overflow: hidden;
}
nav ul{
    position: relative;
}
nav ul li{
    margin: 10px 0px;
    list-style: none;
}
nav ul li button{
    height: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
}
.slider{
    margin: 28px 0px 0px;
    height: 3px;
    width: 50px;
    border-radius: 50px;
    background: linear-gradient(to right,
            rgb(255, 195, 110),
            rgb(255, 146, 91));
    position: absolute;
    left: 21px;
    transition: all 0.5s ease-in-out;
}
.moveslider_group{
    width: 50px;
    left: 21px;
}
.moveslider_pdf{
    width: 45px;
    left: 111px;
}
.moveslider_chat{
    width: 47px;
    left: 192px;
}
.moveslider_user_list{
    width: 48px;
    left: 369px;
}
.moveslider_zoom{
    width: 48px;
    left: 279px;
}
abbr{
    text-decoration: none;
}
  /*main*/

main{
    padding-top: 25px;
    width: 75%;
    height: 100%;
    overflow: hidden;
}
main >article{
    height: inherit;
    
    width: 100%;
    display: none;
}
.group_main:target,  .pdf_main:target, .user_list_main:target, .zoom_main:target{
    display: block
    ;
    
}
.chat_main:target{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 100px;
    height: 100%;
    width: 100vw;
    background: #eaeaea;
}
/*footer*/
footer{
    height: 3vh;
}